body
{
  width: auto;
	height: auto;
  margin:0;
  background-color:#26282E;
  color:#209781;
  font-family:'Lobster',sans-serif;
  font-size:28px;
  text-shadow:1px 1px 5px #209781
}

a:link    {color:#209781; text-decoration: none;}
a:visited {color:#209781;}
a:active  {color:#209781;}
a:hover   {color:#E9B64A;}

h1
{
  font-size:64px;
  font-weight:400;
  text-align:center;
  letter-spacing:5px;
  margin-top:20px;
  margin-bottom:0px;
}
p
{
  text-align:center;
  margin-top:5px;
  margin-bottom:25px;
  letter-spacing:2px;
}
.board
{
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.cardA
{
  width:125px;
  height:125px;
  display:inline-block;
  margin:3px;
  background-image:url("img/karta.png");
  border:4px solid #E9B64A;
  border-radius:4px;
  cursor:default;
  filter:brightness(100%);
  transition:all .3s ease-in-out;
  pointer-events: none;
}
.card
{
  width:125px;
  height:125px;
  display:inline-block;
  margin:3px;
  background-image:url("img/karta.png");
  border:4px solid #51C8B2;
  border-radius:4px;
  cursor:pointer;
  filter:brightness(70%);
  transition:all .3s ease-in-out;
}
.card:hover
{
  border: 4px solid #E9B64A;
  filter:brightness(100%);
}
.score
{
  margin-top:5px;
  letter-spacing:2px;
  font-size:35px;
}

button
{
  cursor:pointer;
  background-color: #26282E;
  text-shadow:1px 1px 5px #209781;
  font-size: 28px;
  font-family:'Lobster',sans-serif;
  color:#209781;
  text-align:center;
  margin-right:5px;
  border: 0px solid #51C8B2;
  opacity:0.8;
}

button:hover
{
  color:#E9B64A;
  transition:0.5s;
  border: 0px solid #E9B64A;
  opacity:10;
  text-decoration: underline;
}

.wygrana
{
  color:#E9B64A;
  text-shadow: 5px 5px 20px #E9B64A;
}
