body
{
	width: auto;
	height: auto;
	background-image: url("picture/tlo.jpg");
	background-size: 1700px 2000px;
	text-align: center;
	opacity: 0.4;
}

h1
{
	font-size: 40px;
	text-shadow: 2px 2px 5px #FFFF00;
	color: #FFFF00;
}

button
{
	cursor:pointer;
	background-color: yellow;
	font-size: 25px;
	border-radius: 25px;
	filter:brightness(80%);
	transition: 0.5s;
}

button:hover
{
	filter:brightness(100%);
	border-color: yellow;
	transition: 0.5s;
}
