body{
	width: auto;
	height: auto;
	background-image: url("picture/hackerAcces.jpg");
	background-position:top;
	background-size:1920px 1920px;
	font-size: 25px;
	color: lightblue;
	text-align: center;
}

H1{
	text-shadow: 3px 3px 15px aqua;
	position: relative;
  animation: mymove 2s;
  animation-fill-mode: forwards;
}

@keyframes mymove {
from {top: -200px;}
to {top: 0px;}
}

TD{
	text-shadow: 3px 3px 15px aqua;
}

TABLE{
	text-align:right;
}

input.CreateAccount{
	color:aqua;
}

input.CreateAccount:hover{
	border-color: blue;
	cursor:pointer;
	color: blue;
	transition: 0.5s;
}

input.logowanie{
	border-radius: 20px;
	cursor:pointer;
	transition: 0.5s;
	background-color: black;
	color: lightblue;
	text-shadow: 3px 3px 15px aqua;
	font-size:20px;
	padding: 8px;
	margin-left: 120px;
}

input.logowanie:hover{
	color:blue;
	transition: 0.5s;
	border-color: blue;
}

input{
	border-radius: 8px;
}

.error{
	color:red;
	margin-top: 10px;
	margin-bottom: 10px;
}
